@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    /* transition: all 0.3s; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: none;
    vertical-align: top;
}

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

/* --------header------- */
/* header::before {
    content: "";
    display: block;
    height: 110px;
    
} */

header {
    width: 100%;
    height: 110px;
    background-color: #3568d9;
    position: fixed;
    /* top: -110px; */
    left: 0;
    z-index: 1;

}

header .header_margin {
    margin: 0 auto;
    width: 1700px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-color: blue; */
}

header .logo {
    /* float: left; */
    /* margin-left: 150px; */
    margin-top: 10px;
    line-height: 80px;
}

header .logo .white_txt {
    /* margin-left: 10px; */
    color: white;
    font-size: 24pt;
    /* width: px; */
    /* background-color: red; */
}

header .gnb {
    width: 70%;
    /* margin-top: 10px; */
    /* margin-left: 15%; */
    display: flex;
}

header .gnb>li>a {
    line-height: 50px;
    font-size: 20pt;
    color: #e0e0e0;
}



header .gnb>li {
    /* float: left; */
    padding: 30px 50px;
    position: relative;

}

header .gnb>li:hover .gnb_box {
    display: block;
}

header .gnb .gnb_box {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    position: absolute;
    width: 180px;
    padding: 10px;
    display: none;
}

header .gnb>li:nth-child(1) .gnb_box {
    left: 10px;
    top: 100px;
}

/* header .gnb>li:nth-child(1) .gnb_box>li>a {
    background-color: yellow;
} */

header .gnb>li:nth-child(2) .gnb_box {
    left: 20px;
    top: 100px;
}

header .gnb .gnb_box>li {
    margin: 10px;
    height: 35px;
}

header .gnb .gnb_box>li:hover {
    background-color: rgb(36, 36, 162);
}

header .gnb .gnb_box>li>a {
    color: #616161;
    font-size: 15pt;
}

header .gnb .fa-magnifying-glass {
    font-size: 20pt;
    line-height: 40pt;
    cursor: pointer;
    color: #616161;
}

header .hamburg_menu {
    background-color: white;
    width: 230px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

header .hamburg_menu::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.622);
    position: fixed;
    top: 0;
    right: 230px;
    width: 100%;
    height: 100%;
    /* display: block; */
    transition: opacity 0.3s ease-out;
    /* opacity: 1; */
    z-index: -2;
}

header .ob_menu .hamburg_ico {
    display: none;
    /* font-size: pt; */
    /* font-weight: 1000; */
    position: absolute;
    right: 20px;
    top: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    /* color: red; */
    z-index: 0;
}

header .ob_menu .hamburg_ico span {
    /* color: red; */
    font-size: 40pt;

}

header .ob_menu .close {
    display: none;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 20px;
    /* border: 1px solid red; */
    cursor: pointer;
}

/* 
header .ob_menu .column_box {
    display: flex;
    flex-direction: column;
} */
header .ob_menu .hamburg_menu {
    display: none;
}

header .ob_menu .hamburg_menu .hamburg_gnb {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* position: relative; */

}

header .ob_menu .hamburg_menu .hamburg_gnb>li {
    /* margin-right: -150px; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    position: relative;
    /* top: 0; */
    /* right: 10px; */
    text-align: center;
    line-height: 50px;
    width: 100px;
    /* border-top: 1px solid red; */
    /* margin: ; */
    transform: translateX(130%);
}

header .ob_menu .hamburg_gnb>li:hover .hamburg_gnb_box {
    display: block;
    /* position: relative; */
    background-color: #dfd7d7;
}

header .ob_menu .hamburg_gnb>li:hover>p {
    font-weight: bold;
    cursor: pointer;
}

header .ob_menu .hamburg_menu .hamburg_gnb>li>a {
    width: 150px;
    height: 50px;
    /* border-top: 1px solid red; */
}

header .ob_menu .hamburg_menu .hamburg_gnb>li:nth-child(5)>a {
    /* border-bottom: 1px solid red; */
}

header .ob_menu .hamburg_menu .hamburg_gnb .hamburg_gnb_box {
    display: none;
    border: green;
    /* position: absolute; */
    /* right: 200px; */
    top: 0;
    /* z-index: 51; */
}

header .ob_menu .hamburg_menu .hamburg_gnb .hamburg_gnb_box>li>a {
    display: block;
    font-size: 0.9em;
}

header .ob_menu .hamburg_follow_us {
    display: none;
    position: absolute;
    right: 20px;
    top: 80vh;
    z-index: 2;
}

header .ob_menu .hamburg_follow_us>dt {
    position: absolute;
    bottom: 155px;
    right: -120px;
    width: 180px;
}


/* ---------main1 */
section .main1 {
    background-image: url(images/index_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

section .main1 .main1_box {
    position: absolute;
    left: 50px;
    top: 550px;
    color: white;
    text-align: center;
}

section .main1 .main1_box h1 {
    font-size: 60pt;

}

section .main1 .main1_box p {
    font-size: 40pt;
}

/* menu-------------- */
section .menu {
    width: 100%;
    height: 1000px;
    background-color: #fffce8;
}

section .menu_txt {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

section .menu_txt h1 {
    font-size: 40pt;
}

section .menu_txt p {
    font-size: 25pt;
    margin-top: 10px;
}

section .menu_box {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

section .menu_box>li {
    /* float: left; */
    /* width: 20%; */
    /* height: 400px; */
    /* height: 20%; */
}

section .menu_box>li div>img {
    width: 100%;
}

section .menu_box>li:nth-child(2),
section .menu_box>li:nth-child(4) {
    /* padding: 0 14px; */
}

section .menu_box>li>a>p {
    text-align: center;
    color: #2a56b6;
    font-size: 18pt;
    margin-top: 10px;
}

section .menu .go_box {
    /* text-align: center; */
    margin: 0 auto;
    background-color: #2a56b6;
    margin-top: 80px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 30pt;
}

section .menu .go_box p {
    color: white;
}

/* -----------brand_franchise */
section .brand_franchise {
    background-color: #ffee9f;
    height: 1500px;
    overflow: hidden;
}

section .brand_franchise .brand_box {
    padding-top: 100px;
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 10px;
}

section .brand_franchise .brand_box .left_box {
    /* float: left; */
    color: #2a56b6;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 10%;
    width: 50%;
    min-width: 500px;

}

section .brand_franchise .brand_box .left_box h1 {
    font-size: 48pt;
    line-height: 60px;
}

section .brand_franchise .brand_box .left_box p {
    font-size: 20pt;
    margin: 23px 0;
    line-height: 30px;
}

section .brand_franchise .brand_box .radi_box2 {
    background-color: #2a56b6;
    width: 150px;
    height: 50px;
    font-size: 15pt;
    text-align: center;
    line-height: 50px;
    border-radius: 20pt;
    margin-top: 10px;
}

section .brand_franchise .brand_box .radi_box2 a {
    color: white;
}

section .brand_franchise .brand_box .right_box {
    /* float: left; */
    /* width: 100%; */
    /* margin-left: 10%; */
    margin-right: 50px;
    /* padding-right: 5%; */
}

section .brand_franchise .brand_box .right_box>img {
    width: 891px;
    /* height: 500px; */
}

section .brand_franchise .franchise_box {
    display: flex;
}

section .brand_franchise .franchise_box .left_box {
    /* float: left; */
    margin-left: 50px;
    /* width: 893px; */
    /* height: 500px; */
}

section .brand_franchise .franchise_box .left_box>img {
    width: 893px;
}

section .brand_franchise .franchise_box .right_box {
    float: left;
    color: #2a56b6;
    margin-top: 100px;
    /* margin-left: 100px; */
    font-size: 20pt;

    margin-left: 10%;
    width: 50%;
    min-width: 500px;
}

section .brand_franchise .franchise_box .right_box h1 span {
    font-size: 48pt;
    line-height: 60px;
}

section .brand_franchise .franchise_box .right_box h1 {
    /* font-size: 48pt; */
}

section .brand_franchise .franchise_box .right_box p {
    /* font-size: 20pt; */
    margin: 10pt 0;
    margin-bottom: 20pt;
    line-height: 30px;
}

section .brand_franchise .franchise_box .radi_box3 {
    background-color: #2a56b6;

    width: 200px;
    height: 50px;
    font-size: 15pt;
    text-align: center;
    line-height: 50px;
    border-radius: 20pt;
    margin-top: 10px;
}

section .brand_franchise .franchise_box .radi_box3 a {
    color: white;
}

/* ---------store_search---------- */
section .search_store {
    height: 1000px;
    position: relative;
}

section .search_store .bgi_box {
    background-image: url(images/images_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 730px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: -200px;
    color: white;
    text-align: center;
    padding-top: 350px;

}

section .search_store .bgi_box h1 {
    font-size: 48pt;
    position: relative;
    width: 450px;
    /* background-color: red; */
    margin: 0 auto;
}

section .search_store .bgi_box h1::after {
    content: "";
    display: block;
    background-image: url(images/images_3.png);
    width: 29px;
    height: 31px;
    position: absolute;
    right: 0;
    top: 10px;
}

section .search_store .bgi_box p {
    font-size: 20pt;
    margin: 40px 0;
}

section .search_store .bgi_box>a {
    color: white;
    display: block;
    /* background-color: red; */
}

section .search_store .bgi_box .radi_box4 {
    width: 60%;
    height: 70px;
    border-radius: 30pt;
    background-color: #3568d9;
    margin: 0 auto;
    line-height: 70px;
    font-size: 18pt;
    border: 1px solid white;
    position: relative;
}

section .search_store .bgi_box .radi_box4::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffde00;
    position: absolute;
    right: 20px;
    top: 20px;
}

section .search_store .bgi_box .search_ico {
    /* position: relative; */
    /* background-color: red; */
}

section .search_store .bgi_box>a .radi_box4>i {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 18pt;
    /* border: 1px solid blue; */
    color: white;
    z-index: 1;
}

/* ------------promo--------------- */
section .promo {
    width: 100%;
    height: 800px;

}

section .promo_txt {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

section .promo_txt h1 {
    font-size: 40pt;
}

section .promo_txt p {
    font-size: 25pt;
    margin-top: 10px;
}

section .promo_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow: hidden; */

}

section .promo_box>li {
    position: relative;
}

section .promo_box>li:nth-child(1),
section .promo_box>li:nth-child(2) {
    cursor: pointer;

}






section .promo_box>li>a>p {
    text-align: center;
    font-size: 18pt;
    letter-spacing: -2px;
}

section .promo_box>li:nth-child(4)>a>p {
    /* letter-spacing: -2px; */
}

section .promo .posi_box {
    position: relative;
}

section .promo_before_after li {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* cursor: pointer; */
    z-index: 1;
}

/* ---------뻐킹 자바스크립트로 하기 뻐킹 디스랑 뭐어케어케해서 호버시 저거 아래 보이게*/
section .promo_before_after li:nth-child(1):after {
    content: "";
    display: none;
    background-image: url(images/images_6_hover.png);
    width: 123px;
    height: 117px;
    position: absolute;
    left: 0;
    top: 0;
}

section .promo_before_after li:nth-child(2):after {
    content: "";
    display: none;
    background-image: url(images/images_7_hover.png);
    width: 123px;
    height: 117px;
    position: absolute;
    right: 0;
    top: 0;
}


section .promo_before_after li:nth-child(1) {
    left: 7%;
    /* transform: translateX(-50%); */
}

section .posi_box .left_opercity_box {
    width: 365px;
    height: 100%;
    border-radius: 20pt;
    background-color: #9f9f9f29;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}


section .posi_box .right_opercity_box {
    width: 367px;
    height: 100%;
    border-radius: 20pt;
    background-color: #9f9f9f29;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

section .promo_before_after li:nth-child(2) {
    right: 7%;
    /* transform: translateX(-50%); */
}







/* -----------story_magazine------- */
section .story_magazine {
    background-color: #2a56b6;
    position: relative;
    display: flex;
    height: 900px;
    overflow: hidden;
}

section .story_magazine .magazine_left_box {
    display: flex;
}

section .story_magazine .magazine_left_box>h1 {
    color: #f3c430;
    font-size: 260pt;
    position: absolute;
    left: 200px;
    top: 200px;
}

section .story_magazine .story_menu {
    display: flex;
    /* align-items: flex-end;    */
    margin-left: 197px;
    padding-top: 650px;
    position: relative;
    /* background-color: red; */
}

section .story_magazine .story_menu>li:nth-child(1) {
    margin: 0 30px;
}

section .story_magazine .story_menu>li:nth-child(2) {
    font-size: 30pt;
    line-height: 75pt;
}

section .story_magazine .story_menu>li:nth-child(1)::after {
    content: "|";
    display: inline-block;
    margin: 0 20px;
    font-size: 35px;
    position: absolute;
    top: 668px;
    left: 195px;

}

section .story_magazine .story_menu>li {
    font-size: 40pt;
    /* width: 60%; */
}

section .story_magazine .story_box {
    width: 1250px;
}

section .story_magazine .story_box .story_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 330px;
    padding-left: 100px;
}



section .story_magazine .story_box .story_content>li>p {
    width: 365px;
    height: 100px;
    background-color: #f3c430;
    border-radius: 0 0 10px 10px;
    font-size: 17pt;
    padding-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}

/* --------footer------------------- */
footer {
    background-color: gray;
}

footer .footer_logo {
    padding-left: 250px;
    padding-top: 50px;
}

footer .div_footer_menu {
    display: flex;
    margin-left: 640px;
    margin-top: -140px;
}

footer .div_footer_menu>dl {
    margin: 0 40px;
}

footer .div_footer_menu>dl>dt {
    font-weight: bold;
    margin-bottom: 10pt;
    color: white;
}

footer .div_footer_menu>dl>dd {
    margin: 5px 0;
    font-weight: 300pt;
    color: white;
}

footer .div_footer_menu>dl>dd>a {
    color: white;
}

footer .div_footer_menu>dl:nth-child(3) {
    margin-left: 280px;
}

/* footer .div_footer_menu>dl:nth-child(3)>dt {
    margin-bottom: 10px;
} */

footer .div_footer_menu>dl:nth-child(3)>dd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

footer .footer_box .up_box {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

footer .footer_box .up_box a {
    position: relative;
    margin: 0 10px;
    font-size: 0.8em;
}

footer .footer_box .up_box>a:nth-child(1)::after,
footer .footer_box .up_box>a:nth-child(3)::after,
footer .footer_box .up_box>a:nth-child(2)::after {
    content: "|";
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 2px;
    font-size: small;
    color: black;
}

footer .footer_box .up_box a:nth-child(2) {
    color: red;
    /* border: 1px solid black; */
    /* background-color: red; */
}

footer .footer_box .up_box img:nth-child(5) {
    margin: 0 20px;
    position: absolute;
    top: -10px;
    left: 610px;
    /* background-color: red; */
}

footer .footer_box .up_box img:nth-child(6) {
    margin: 0 20px;
    position: absolute;
    top: -10px;
    left: 710px;
    /* background-color: red; */
}

footer .footer_box address:nth-of-type(1):before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
}

footer .footer_box address {
    text-align: center;
    padding: 10px 0;
}


/* @media all and (min-width: 1486px) and (max-width:1853px) {} */


/* tablet해보자잇 */
@media all and (min-width: 1240px) and (max-width:1570px) {
    header .header_margin {}

    header h1 {
        margin-left: 7.8%;
    }

    header>h1 .white_txt {
        margin-left: 0.5%;
    }

    header .header_margin .gnb {
        display: none;
    }

    header .ob_menu .hamburg_ico {
        display: block;
    }

    section .main1 {
        height: 900px;
    }

    section .main1 .main1_box {
        top: 300px;
    }

    section .menu_box {
        justify-content: space-around;
    }

    section .menu_box>li {
        /* padding: 0 1%; */
    }

    section .brand_franchise {
        height: 1250px;
    }

    section .brand_franchise .brand_box .left_box {
        margin-left: 3%;
        margin-right: 3%;
    }

    section .brand_franchise .brand_box .right_box {
        margin-right: 3%;
    }

    section .brand_franchise .brand_box .right_box>img {
        width: 100%;
    }

    section .brand_franchise .franchise_box .left_box>img {
        width: 100%;
    }

    section .brand_franchise .franchise_box .right_box {
        margin-left: 5%;
        margin-top: 5%;
    }

    section .promo {
        height: 800px;
    }

    section .promo_box {
        justify-content: space-between;
    }

    section .promo .promo_box>li:nth-child(4) {
        display: none;
    }




    section .story_magazine {
        width: 100%;
        height: 1000px;
    }

    section .story_magazine .magazine_left_box {
        position: absolute;
        left: 20%;
        transform: translateX(50%);
        top: 5%;
        /* background-color: red; */
    }

    section .story_magazine .magazine_left_box>h1 {
        left: 0;
        top: -100px;
        /* margin: 0 auto; */
    }

    section .story_magazine .story_menu {
        /* position: absolute; */
        margin-left: 0px;
        padding-top: 350px;
        /* left: -130px; */
        /* top: -200p/x; */
        /* margin: 0 auto; */
    }

    section .story_magazine .story_menu>li:nth-child(1)::after {
        top: 365px;
        left: 185px;
    }

    section .story_magazine .story_box {
        width: 60%;
    }

    section .story_magazine .story_box .story_content {
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0; */
        padding-top: 500px;
        padding-left: 50%;
        transform: translateX(-25%);
        /* padding-right: 15%; */
    }

    section .story_magazine .story_box .story_content>li {
        width: 100%;
        height: 100%;
        padding: 0 2%;
    }

    footer .footer_logo {
        padding-left: 10%;
    }

    footer .div_footer_menu {
        margin-left: 30%;
        margin-top: -130px;
    }

    footer .div_footer_menu dl:nth-child(3) {
        display: none;
    }

    footer .footer_box img {
        display: none;
    }

    footer .footer_box .up_box {
        margin-left: 28%;
        /* margin-top: 100px; */
        /* margin: 0 auto; */
        position: relative;
    }
}

/* ----------tablet 과 mobile그 사이 어딘가 */
@media all and (min-width: 769px) and (max-width:1239px) {
    header {
        width: 100%;
    }

    header h1 {
        margin-left: 10%;
    }

    header>h1 .white_txt {
        margin-left: 0.5%;
    }

    header .logo .white_txt {
        font-size: 18pt;
    }

    header .header_margin .gnb {
        display: none;
        /* justify-content: space-between; */
    }

    header .ob_menu .hamburg_ico {
        display: block;
        position: absolute;
        right: 1%;
    }

    section .main1 {
        height: 700px;
    }

    section .main1 .main1_box {
        top: 380px;
    }

    section .main1 .main1_box h1 {
        font-size: 5vw;

    }

    section .main1 .main1_box p {
        font-size: 4vw;
    }

    section .menu {
        /* height: 900px; */
    }

    section .menu .menu_txt>p {
        font-size: 5vw;

    }

    section .menu .menu_box {
        justify-content: space-around;
        flex-wrap: nowrap;
    }



    section .menu_box>li div>img {
        width: 100%;
        margin: 0%;
    }

    section .menu_box>li>a>p {
        text-align: left;
        margin: 0 20%;
        font-size: 2.1vw;
    }

    section .brand_franchise {
        height: 1100px;
    }

    section .brand_franchise .brand_box .left_box {
        margin-left: 3%;
        margin-right: 3%;
        min-width: 30%;
        margin-top: 10px;
    }

    section .brand_franchise .brand_box .left_box h1 {
        font-size: 3vw;
        line-height: 40px;
    }

    section .brand_franchise .brand_box .left_box p {
        font-size: 1.8vw;
    }

    section .brand_franchise .brand_box .right_box {
        margin-right: 0px;
        margin: 0 1%;
    }

    section .brand_franchise .brand_box .right_box>img {
        width: 100%;
    }

    section .brand_franchise .franchise_box .right_box {
        margin-left: 3%;
        margin-right: 3%;
        min-width: 30%;
        margin-top: 20px;
    }

    section .brand_franchise .franchise_box .right_box h1 {
        font-size: 3vw;
        line-height: 30px;
    }

    section .brand_franchise .franchise_box .right_box h1 span {
        font-size: 2.5vw;

    }

    section .brand_franchise .franchise_box .right_box p {
        font-size: 1.8vw;
    }

    section .brand_franchise .franchise_box .left_box {
        margin-right: 0px;
        margin: 0 1%;
    }

    section .brand_franchise .franchise_box .left_box>img {
        width: 100%;
    }

    section .search_store {
        /* height: 1300px; */
        /* margin-top: 100px; */
    }

    section .promo {
        /* height: 120vh; */
    }

    section .promo .promo_txt h1 {
        font-size: 3.5vw;
    }

    section .promo .promo_txt p {
        font-size: 2.5vw;
    }

    section .promo_box {
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: 0.1%;
        margin-right: 0.1%;
    }

    section .promo_box>li {
        width: 32%;
        /* margin: 0; */
    }

    section .promo_box>li>a>img {
        width: 100%;
    }

    section .promo_box>li>a>p {
        font-size: 2.5vw;
    }

    section .promo_box>li:nth-child(1)>a>p {
        font-size: 2vw;
    }

    section .posi_box .left_opercity_box {
        width: 32%;
    }

    section .posi_box .right_opercity_box {
        width: 32%;
    }





    section .story_magazine {
        width: 100%;
        height: 1000px;
    }

    section .story_magazine .magazine_left_box {
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        top: -100px;
        /* background-color: red; */
    }

    section .story_magazine .magazine_left_box>h1 {
        left: 50%;
        /* transform: translateX(-50%); */
        top: 100px;
        /* margin: 0 auto; */
        font-size: 150pt;
    }

    section .story_magazine .story_menu {
        /* position: absolute; */
        margin-left: 0px;
        padding-top: 400px;
        /* left: -130px; */
        /* top: -200p/x; */
        /* margin: 0 auto; */
    }

    section .story_magazine .story_menu>li:nth-child(1)::after {
        top: 410px;
        left: 185px;
    }

    section .story_magazine .story_menu>li:nth-child(2) {
        position: absolute;
        left: 230px;
        top: 395px;
    }

    section .story_magazine .story_box {
        width: 100%;
        /* justify-content: space-around; */

    }

    section .story_magazine .story_box .story_content {
        padding-top: 450px;
        padding-left: 1%;
        padding-right: 1%;
        /* width: 100%; */
    }

    section .story_magazine .story_box .story_content>li {
        width: 100%;
        /* height: 100%; */
        padding: 0 0.5%;
    }

    section .story_magazine .story_box .story_content>li>img {
        width: 100%;
    }

    section .story_magazine .story_box .story_content>li>p {
        width: 100%;
        font-size: 1.9vw;
        height: 90px;
    }

    @media all and (min-width: 769px) and (max-width:1022px) {
        section .menu {
            height: 900px;
        }

        section .brand_franchise {
            height: 1000px;
        }



        section .search_store {
            height: 500px;
        }

        section .search_store .bgi_box {
            /* height: 00px; */
            background-size: 100%;
            top: -400px;
        }

        section .search_store .bgi_box h1 {
            font-size: 30pt;
            margin-top: 3%;
            width: 350px;
        }

        section .search_store .bgi_box h1::after {
            right
        }

        section .search_store .bgi_box p {
            font-size: 18pt;
        }

        section .promo {
            height: 600px;
        }

        section .story_magazine .story_box .story_content>li>p {
            height: 70px;
            font-size: 1.9vw;
        }
    }

    footer .footer_logo {
        padding-left: 10%;
    }

    footer .div_footer_menu {
        margin-left: 30%;
        margin-top: -130px;
    }

    footer .div_footer_menu dl:nth-child(3) {
        display: none;
    }

    footer .footer_box img {
        display: none;
    }

    footer .footer_box .up_box {
        margin-left: 28%;
        /* margin-top: 100px; */
        /* margin: 0 auto; */
        position: relative;
    }

}

/* ---------------mobile */
@media all and (max-width:768px) {
    header .header_margin {}

    header h1 {
        /* margin-left: 1%; */
    }

    header>h1 .white_txt {
        /* margin-left: 0.5%; */
    }
    header .logo img{
        transform: scale(0.8);
    }
    header .logo .white_txt {
        font-size: 18pt;
    }

    header .header_margin .gnb {
        display: none;
        justify-content: space-between;
    }

    header .ob_menu .hamburg_ico {
        display: block;
        position: absolute;
        right: 1%;

    }

    section .main1 {
        height: 674px;

    }

    section .main1 .main1_box {
        top: 440px;
    }

    section .main1 .main1_box h1 {
        font-size: 30pt;

    }

    section .main1 .main1_box p {
        font-size: 20pt;
    }

    section .menu {
        height: 900px;
    }

    section .menu .menu_txt>p {
        font-size: 5vw;

    }

    section .menu .menu_box {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    section .menu .menu_box>li:nth-child(3) {
        display: none;
    }

    section .menu_box>li div>img {
        width: 80%;
        margin: 0 10%;
    }

    section .menu_box>li>a>p {
        text-align: left;
        margin: 0 20%;
        font-size: 3.5vw;
    }

    section .brand_franchise {
        height: 1400px;
    }

    section .brand_franchise .brand_box {
        flex-direction: column-reverse;
    }

    section .brand_franchise .brand_box .left_box {
        /* margin-left: 5%; */
        /* margin-right: 5%; */
        width: 50%;
        min-width: 350px;
        margin-left: 0;
        margin-right: 0px;
        margin: 0 auto;
    }

    section .brand_franchise .brand_box .left_box h1 {
        font-size: 6.3vw;
        line-height: 40px;
        display: none;
    }

    section .brand_franchise .brand_box .left_box p {
        font-size: 3.15vw;
        line-height: 25px;
    }

    section .brand_franchise .brand_box .right_box {
        width: 100%;
        margin-right: 0px;
        margin: 0 5%;
        /* position: absolute; */
    }

    section .brand_franchise .brand_box .right_box>img {
        width: 90%;
    }

    section .brand_franchise .brand_box .radi_box2 {
        margin: 0 auto;
    }

    section .brand_franchise .franchise_box {
        flex-direction: column;
    }

    section .brand_franchise .franchise_box .right_box {
        /* margin-left: 5%; */
        /* margin-right: 5%; */
        width: 50%;
        min-width: 350px;
        margin: 0 auto;
    }

    section .brand_franchise .franchise_box .right_box h1 {
        font-size: 4.5vw;
        line-height: 10px;
        margin-top: 10px;
        display: none;
    }

    section .brand_franchise .franchise_box .right_box h1 span {
        font-size: 6.3vw;
        /* line-height: 40px; */
    }

    section .brand_franchise .franchise_box .right_box p {
        font-size: 3.1vw;
        line-height: 20px;
    }

    section .brand_franchise .franchise_box .left_box {
        width: 100%;
        margin-right: 0px;
        margin: 0 5%;
        /* position: absolute; */
    }

    section .brand_franchise .franchise_box .left_box>img {
        width: 90%;
    }

    section .brand_franchise .franchise_box .radi_box3 {
        margin: 0 auto;
    }



    section .search_store {
        height: 400px;
    }

    section .search_store .bgi_box {
        /* height: 00px; */
        background-size: 100%;
        top: -500px;
    }

    section .search_store .bgi_box h1 {
        font-size: 30pt;
        margin-top: 12%;
        width: 350px;
    }

    section .search_store .bgi_box h1::after {
        right
    }

    section .search_store .bgi_box p {
        font-size: 18pt;
        margin: 20px 0;
    }
    section .search_store .bgi_box .radi_box4::after{
        display: none;
    }
    section .search_store .bgi_box>a .radi_box4>i{
        display: none;
    }
    section .promo {
        height: 800px;
    }

    section .promo_txt h1 {
        font-size: 10vw;
    }

    section .promo_txt p {
        font-size: 4vw;
    }

    section .promo .promo_box {
        position: relative;
    }

    section .promo .promo_box>li:nth-child(1) {
        display: none;
    }

    section .promo .promo_box>li:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    section .promo .promo_box>li:nth-child(3) {
        display: none;
    }

    section .posi_box .left_opercity_box,
    section .posi_box .right_opercity_box {
        /* display: none; */
    }

    section .promo_before_after li {
        /* width: 1vw; */
        transform: scale(0.4);
    }

    /* 여기다가도 주석 해제해서 잘되는지 확인해야함 자바스크립트 */
    section .promo_before_after li:nth-child(1):after {
        /* display: block; */
    }

    section .promo_before_after li:nth-child(1) {
        left: -5%;
        top: 120px;
    }

    section .promo_before_after li:nth-child(2) {
        right: -5%;
        top: 120px;
    }







    section .story_magazine {
        height: 700px;
    }

    section .story_magazine .magazine_left_box>h1 {
        font-size: 15vw;
        left: 22%;
        transform: translateX(-50%);
        top: 30px;
    }

    section .story_magazine .story_menu {
        margin-left: 90%;
        padding-top: 65px;
    }

    section .story_magazine .story_menu>li:nth-child(1) {
        font-size: 6vw;
        margin: 0px;
        margin-right: 5%;
        position: relative;
        line-height: 60px;
    }

    section .story_magazine .story_menu>li:nth-child(2) {
        font-size: 4vw;
        line-height: 50pt;
    }

    section .story_magazine .story_menu>li:nth-child(1)::after {
        font-size: 4.2vw;
        top: 0%;
        left: 102%;
        margin: 0;
    }

    section .story_magazine .story_box .story_content {
        padding-top: 200px;
        padding-left: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
    }

    section .story_magazine .story_box .story_content>li:nth-child(2),
    section .story_magazine .story_box .story_content>li:nth-child(3) {
        display: none;
    }

    footer .footer_logo {
        padding-left: 10%;
    }

    footer .div_footer_menu {
        margin-left: 30%;
        margin-top: -130px;
    }

    footer .div_footer_menu dl:nth-child(1),
    footer .div_footer_menu dl:nth-child(3) {
        display: none;
    }

    footer .footer_box .up_box {
        display: none;
    }

    footer .footer_box address {
        font-size: 12pt;
    }
}
@media all and (max-width:709px){
    section .brand_franchise {
        height: 1300px;
    }
}
@media all and (max-width:659px){
    section .brand_franchise {
        height: 1250px;
    }
}
@media all and (max-width:600px){
    section .brand_franchise {
        height: 1150px;
    }
}
@media all and (max-width:580px){
    section .search_store .bgi_box p {
        /* font-size: 18pt; */
        margin: 5px 0;
    }
    section .search_store .bgi_box h1{
        margin-top: 20%;
    }
}
@media all and (max-width:500px) {
    section .menu {
        height: 600px;
    }

    section .menu_txt {
        padding-top: 30px;
    }

    section .menu_box {
        margin-top: 50px;
    }

    section .menu .go_box {
        margin-top: 30px;
    }

    section .main1 .main1_box {
        top: 450px;
    }

    section .brand_franchise {
        height: 1000px;
    }

    section .brand_franchise .brand_box .left_box {
        margin: 0 auto;
        min-width: 250px;
        /* width: 0px; */
    }

    section .brand_franchise .franchise_box .right_box {
        margin: 0 auto;
        min-width: 250px;
    }

    section .search_store {
        height: 300px;
    }

    section .search_store .bgi_box {
        top: -460px;
    }

    section .search_store .bgi_box h1 {
        font-size: 25pt;
        margin-top: 20%;
        width: 300px;
    }

    section .search_store .bgi_box h1::after {
        right
    }

    section .search_store .bgi_box p {
        font-size: 16pt;
        margin: 15px 0;
    }

    section .search_store .bgi_box .radi_box4 {
        height: 50px;
        line-height: 50px;
    }

    section .search_store .bgi_box .radi_box4::after {
        right: 15px;
        top: 10px;
    }

    section .search_store .bgi_box>a .radi_box4>i {
        top: 15px;
        right: 22px;
    }



    section .promo {
        height: 650px;
    }

    section .story_magazine .story_box .story_content>li>p {
        height: 70px;
        font-size: 4vw;
    }

    footer .div_footer_menu>dl:nth-child(2)>dd:nth-child(4) {
        font-size: 11pt;
    }

    footer .footer_box address {
        font-size: 10pt;
    }
}
@media all and (max-width:362px){
    section .menu{
        height: 500px;
    }
    section .brand_franchise{
        height: 900px;
    }
    section .search_store .bgi_box{
        top: -500px;
    }
    section .search_store .bgi_box p{
        margin: 10px 0;
    }
    section .search_store .bgi_box h1 {
        margin-top: 32%;
    }
    section .search_store .bgi_box .radi_box4{
        height: 30px;
        line-height: 30px;
    }
    section .promo_txt{
        margin-top: -100px;
    }
    section .story_magazine{
        height: 600px;
    }
    section .story_magazine .magazine_left_box>h1{
        top: 20px;
    }
    section .story_magazine .story_menu{
        margin-left: ;
        padding-top: 30px;
    }
    section .story_magazine .story_box .story_content{
        padding-top: 130px;
        /* transform: scale(0.9); */
    }
    section .story_magazine .story_box .story_content>li{
        /* width: 100px; */
    }
}
/* menu반응형 */
@media all and (max-width:1853px) {
    section .menu .menu_box>li:nth-child(5) {
        display: none;

    }
}

@media all and (max-width:1570px) {
    section .menu .menu_box>li:nth-child(4) {
        display: none;
    }
}


/* -------promo 반응형 */
@media all and (max-width:1847px) {
    section .promo .promo_box>li:nth-child(5) {
        display: none;
    }

    section .promo_box>li:nth-child(4) {
        cursor: pointer;
    }




}

@media all and (max-width:1480px) {
    section .promo .promo_box>li:nth-child(4) {
        display: none;
    }




}